    .d1{position: absolute;
        width: 1200px;
        height:582px;
        border:1px solid #DCDCDC;
        
    }

.d2{
        position: absolute;
        width: 1200px;
        height: 80px;
        background-color: #696969;
    }

.d4,.d5,.d6,.d7,.d8{
        width: 100px;
        height:100px; 
        background-color:#dcdcdc;
        text-align: center;
        border-bottom: 1px solid #fff;
        position: relative;
        top:180px;
}

.d4{  position: absolute;top:80px; }
/* .d5{  position: relative;top:180px;}
.d6{  position: relative;top:180px;}
.d7{  position: relative;top:180px;}
.d8{  position: relative;top:180px;} */

.dd1,.dd2,.dd3,.dd4,.dd5{   
        
        width: 1100px;
        height: 100px;
        left:100px;
        border-bottom: 1px solid #dcdcdc;
        line-height: 0.5em;
    }

.dd1{   position: absolute; top:80px;}
.dd2{   position: absolute;top:160px;padding-top: 20px;}
.dd3{   position: absolute;top:260px;padding-top: 20px;}
.dd4{   position: absolute;top:360px;padding-top: 20px;}
.dd5{   position: absolute;top:461px;padding-top: 20px;}   

.pp1{
   left:30px;
   word-break: normal;
}

 .space{
        margin-right: 1em;
        width:200px;
        word-break: keep-all;
        font-weight: bold;
    }

 .space1{margin-right: 3em;}

    h1{
        font-size: 24px;
        color: #fff;
        padding:20px;
        line-height:0px;
    }

    h2{
        font-size: 18px;
        margin-top:auto;
        line-height: 100px;
    }
    p{
        text-indent: 1em;
    }
    br{
        word-break: keep-all;
    }